
#egpcont {
	width: 100%;
	height: 100%;
}

.egpbox {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
	background-color: #000;
	width: 20%;
	height: 20%;
	position: absolute;
}

#egptl {
	top: 10%;
	left: 10%;
}

#egpbl {
	top: 70%;
	left: 10%;
}

#egptr {
	top: 10%;
	left: 70%;
}

#egpbr {
	top: 70%;
	left: 70%;
}

#egpmiddle {
	position: absolute;
	top: 30%;
	left: 33%;
	width: 34%;
	height: 40%;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}